<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlayOffLabel" jhiTranslate="babyFootManagerApp.playOff.home.createOrEditLabel">Create or edit a Play Off</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!playOff.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="playOff.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="babyFootManagerApp.playOff.playOffName" for="field_playOffName">Play Off Name</label>
            <input type="text" class="form-control" name="playOffName" id="field_playOffName"
                [(ngModel)]="playOff.playOffName" required/>
            <div [hidden]="!(editForm.controls.playOffName?.dirty && editForm.controls.playOffName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.playOffName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="babyFootManagerApp.playOff.nbTeamMax" for="field_nbTeamMax">Nb Team Max</label>
            <input type="number" class="form-control" name="nbTeamMax" id="field_nbTeamMax"
                [(ngModel)]="playOff.nbTeamMax" required/>
            <div [hidden]="!(editForm.controls.nbTeamMax?.dirty && editForm.controls.nbTeamMax?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nbTeamMax?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nbTeamMax?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="babyFootManagerApp.playOff.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="playOff.startDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="babyFootManagerApp.playOff.endDate" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="playOff.endDate"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
