
/* ==========================================================================
Main page styles
========================================================================== */

.home-container {
    background: linear-gradient(
            rgba(0, 0, 0, 0.70),
            rgba(0, 0, 0, 0.70)
    ), url("../../content/images/background-babyfoot.jpg") no-repeat center top;
    background-size: cover;
    color: white;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        color: black;
    }
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .home-container {
        background: url("../../content/images/background-babyfoot.jpg") no-repeat center top;
        background-size: cover;
    }
}
